<div class="container">
	<%@user_repos.each do |user_name ,repos|%>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><%="#{user_name}"%></h3>
						<span class="pull-right clickable">
							<i class="glyphicon glyphicon-chevron-up"></i>
						</span>
					</div>
					<div class="panel-body">
						<% repos.each do |repo|%>
							<div class="col-md-6">
								<%= link_to "#{repo.name}",repo_path(repo.name)%></br>
							</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	<%end%> 
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
<script>
	$(document).ready(function(){
		user_wise_graph("Project Commits",<%= "#{@label}".html_safe%>,<%="#{@project_series_data.to_json}".html_safe%>)
	});
</script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>




