<div classs="container">
	<div class="row border">
		<h4><%="#{current_user.name}"%></h4>
		<%@repos.each do |repo|%>
			<div class="col-sm-4 col-md-3">
				<div class="thumbnail repo">
					<div class="caption">

						<%= link_to "#{image_tag('GitHub-Mark-64px.png')}#{repo.name}".html_safe,repo_path(repo.name) , class: "github_link" ,style: "line-height: 2;"%>
						<p><%#= "#{repo.github_repo_description}"%></p>

					</div>
				</div>
			</div>
		<%end%>
	</div>
	<!-- repo commits graph -->
	<div class = "row" id="container" style="min-width: 250px; height: 350px; margin: 0 auto"></div>
</div>
<script>
	$(document).ready(function(){
		user_wise_graph("Project Commits",<%= "#{@label}".html_safe%>,<%="#{@project_series_data.to_json}".html_safe%>)
	});
</script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>





