<div class="container">
    <%@repos.each do |repo_name ,repos|%>
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-primary">
             
                <div class="panel-heading">
                  <h3 class="panel-title"><%="#{repo_name}"%></h3>
                  <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                   <%#binding.pry%>
                    <% repos.each do |repo|%>
                      <div class="col-md-6">
                      <%= link_to "#{repo["github_repo_name"]}",repo_path(repo["id"])%></br>
                      </div>
                    <%end%>
                </div>
              </div>
            </div>
          </div>
       <%end%>   
    </div>
</div>

  
  
    
    