.row{
    margin-top:40px;
    padding: 0 10px;
}


.btn-labeled {margin: 1px;padding: 3px 5px;}
.btn-default {
    box-shadow: 5px 3px 0px rgba(0, 0, 0, 0.3);
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #CDD1D5;
    border-color: #C0C2C3;
}
.row.border{
    border: solid;
    padding: 31px 34px;
    border-radius: 8px;
    border-color: gray;
    margin: 52px;
}
.note.col-md-4{
    border-left: solid;
    border-color: gray;
}
.link{
    color: #9F9FA0;
    text-decoration: none;
}
.github_link{
    color: #575A5C;
    text-decoration: none;
}
.back.btn.btn-labeled.btn-default{
    display: inline-block;
    padding: 0px 7px;
    margin-bottom: 9px;
    font-size: 14px;    font-weight: normal;
    line-height: 1.428571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.thumbnail a > img {

width: 30px;
float: left;
padding: 4px;
}
.thumbnail.repo{
    background-color: cornsilk;
}
.name{
    display: inline;
}
.search_btn{
    float:right;
    height:25px; 
    padding:2px;
}
.form{
    float:right;height:30px;
}

